// border-radius
@for $i from 1 to 9 {
  .radius-#{$i} {
    border-radius: $i * 2px;
    -webkit-border-radius: $i * 2px;
    -moz-border-radius: $i * 2px;
    -ms-border-radius: $i * 2px;
    -o-border-radius: $i * 2px;
  }
}

.circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
