@import "mixins";

.contents {
  @include display(contents);
}

.block {
  @include display(block);
}

.inline {
  @include display(inline);
}

.flex {
  @include display(flex);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-sm-row {
  @include media-query(sm) {
    @include display(flex);
    flex-direction: row;
  }
}

.sm-flex-row {
  @include media-query(sm) {
    @include display(flex);
    flex-direction: row;
  }
}

.md-flex-row {
  @include media-query(md) {
    @include display(flex);
    flex-direction: row;
  }
}

.lg-flex-row {
  @include media-query(lg) {
    @include display(flex);
    flex-direction: row;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.md-align-center {
  @include media-query(md) {
    align-items: center;
  }
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

@for $i from 1 to 13 {
  .order-#{$i} {
    order: $i;
  }
}

@for $i from 1 to 13 {
  @include media-query(sm) {
    .sm-order-#{$i} {
      order: $i;
    }
  }

  @include media-query(md) {
    .md-order-#{$i} {
      order: $i;
    }
  }

  @include media-query(lg) {
    .lg-order-#{$i} {
      order: $i;
    }
  }

  @include media-query(xl) {
    .xl-order-#{$i} {
      order: $i;
    }
  }
}
