@font-face {
    font-family: SecularOne;
    src: url("../../../public/fonts/SecularOne-Regular.ttf");
}

@font-face {
    font-family: VarelaRound;
    src: url("../../../public/fonts/VarelaRound-Regular.ttf");
}