@import "mixins";

//font sizes
@for $i from 1 to 7 {
  .fs-#{$i} {
    font-size: 0.6rem + ($i * 0.1) !important;
  }
}

@for $i from 7 to 13 {
  .fs-#{$i} {
    font-size: $i * 0.25rem - 0.25rem !important;
  }
}

// width and height
.fit-content {
  min-width: fit-content;
}

.max-content {
  min-width: max-content;
}

@for $i from 1 to 11 {
  .w-#{$i}-10 {
    width: $i * 10%;
  }

  .h-#{$i}-10 {
    height: $i * 10%;
  }
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.full {
  height: 100%;
  width: 100%;
}

.h-auto {
  height: auto;
}
