@import "mixins";

// variables
$size: 3px;

@for $i from 0 to 21 {
  // ************* margins *************
  @include handle-spaces(m, margin, $size, $i);
  // sm
  @include media-handle-spaces(sm, m, margin, $size, $i);

  // md
  @include media-handle-spaces(md, m, margin, $size, $i);

  // lg
  @include media-handle-spaces(lg, m, margin, $size, $i);

  // xl
  @include media-handle-spaces(xl, m, margin, $size, $i);

  // 2xl
  @include media-handle-spaces(xxl, m, margin, $size, $i);

  // ************* paddings *************
  @include handle-spaces(p, padding, $size, $i);
  // sm
  @include media-handle-spaces(sm, p, padding, $size, $i);

  // md
  @include media-handle-spaces(md, p, padding, $size, $i);

  // lg
  @include media-handle-spaces(lg, p, padding, $size, $i);

  // xl
  @include media-handle-spaces(xl, p, padding, $size, $i);

  // 2xl
  @include media-handle-spaces(xxl, p, padding, $size, $i);

  // gaps
  .gap-#{$i} {
    gap: $size * $i;
  }

  .gap-x-#{$i} {
    column-gap: $size * $i;
  }

  .gap-y-#{$i} {
    row-gap: $size * $i;
  }
}
