@import "variable";

:export {
    control_border_color: $control-border-color;
    control_background_color: $control-background-color;
    control_caret_color: $control-caret-color;
    control_transition_duration: $control-transition-duration;
    control_transition_easing: $control-transition-easing;
    control_dropdown_background_color: $control-dropdown-background-color;
    color_primary: $color-primary;
    theme_light_color: $theme-light-color;
    theme_light_blue_color: $theme-light-blue-color;
    theme_light_blue: $theme-light-blue;
    text_color: $text-color;
    info_icon_color: $info-icon-color;
    text_color_sub: $text-color-sub;
    text_color_sub_1: $text-color-sub-1;
    bt_light_blue: $bt-light-blue;
    up_color: $up-color;
    down_color: $down-color;
    warning_color: $warning-color;
    error_alert_bg: $error-alert-bg;
    error_dark_alert_bg: $error-dark-alert-bg;
    border_color: $border-color;
    border_color_dark: $border-color-dark;
    bg_color: $bg-color;
    ice_bg_1: $ice-bg-1;
    dark_ice_bg_1: $dark-ice-bg-1;
    color_gradient_end: $color-gradient-end;
    color_neutral_1: $color-neutral-1;
    color_neutral_2: $color-neutral-2;
    color_neutral_3: $color-neutral-3;
    color_neutral_4: $color-neutral-4;
    color_neutral_5: $color-neutral-5;
    color_neutral_6: $color-neutral-6;
    color_neutral_7: $color-neutral-7;
    color_light_neutral_1: $color-light-neutral-1;
    color_light_neutral_2: $color-light-neutral-2;
    color_light_neutral_3: $color-light-neutral-3;
    color_light_neutral_4: $color-light-neutral-4;
    color_light_neutral_5: $color-light-neutral-5;
    color_light_neutral_6: $color-light-neutral-6;
    color_light_neutral_7: $color-light-neutral-7;
    button_border_color: $button-border-color;
    button_bg_color: $button-bg-color;
    dark_bg_1: $dark-bg-1;
    dark_bg_2: $dark-bg-2;
    card_bg: $card-bg;
    var_text_small: $var-text-small;
    breakpoint_md: $breakpoint-md;
    box_shadow: $box-shadow;
    tiny_box_shadow: $tiny-box-shadow;
    input_shadow_color_focus: $input-shadow-color-focus;
    shadow_normal: $shadow-normal;
}