@import "variable";
@import "fonts";
@import "mixins";

* {
    font-family: VarelaRound, SecularOne, 'Courier New', Courier, monospace, SecularOne -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif !important;
}

#js-licensing {
    display: none !important;
}

html {
    font-size: 16px;
}

@media (max-width:767px) {
    html {
        font-size: 14px;
    }
}

body {
    font-weight: 600;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
    background-color: inherit;
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

span {
    @include text(inherit, inherit, capitalize);
}

.topSummary_grid_container__Fg9zm>div {
    margin-bottom: 15px;
}

.d-flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    @include flex(normal, center);
}

.justify-center {
    @include flex(center, normal);
}

.justify-between {
    @include flex(space-between, normal);
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.full {
    height: 100%;
    width: 100%;
}

.fit-content {
    min-width: fit-content;
}

.max-content {
    min-width: max-content;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}