@import "mixins";

// h1 - h6
@for $i from 1 to 7 {
    h#{$i} {
        @include text(2.2rem - ($i * 0.2), inherit, capitalize);
    }
}

//font sizes 
@for $i from 1 to 7 {
    .fs-#{$i} {
        font-size: 0.6rem + ($i * 0.1) !important;
    }
}

@for $i from 7 to 13 {
    .fs-#{$i} {
        font-size: $i * 0.25rem - 0.25rem !important;
    }
}

// font weight
.fw-light {
    font-weight: 400;
}

.fw-md {
    font-weight: 500;
}

.fw-bold {
    font-weight: 600;
}

.fw-bolder {
    font-weight: 900;
}

// border-radius
@for $i from 1 to 7 {
    .radius-#{$i} {
        border-radius: $i * 2px;
        -webkit-border-radius: $i * 2px;
        -moz-border-radius: $i * 2px;
        -ms-border-radius: $i * 2px;
        -o-border-radius: $i * 2px;
    }
}

.circle {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}