.tabale * {
    font-size: 0.82rem !important;
    font-weight: 600;
}

.tabale_head {
    text-transform: capitalize;
    font-size: 0.85rem !important;
    font-weight: 900 !important;
}

.container_td_content {
    display: flex;
    align-items: center;
}

.container_td_content>div:last-child {
    display: flex;
    margin-left: 5px;
    align-items: center;
}

.coin_img {
    width: 25px;
}

.symbol {
    font-size: 0.7rem !important;
    margin-left: 5px;
    opacity: 0.8;
}

.err_container {
    color: var(--down-color) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    font-size: 25px;
}

.err_container>span:nth-child(2) {
    margin-left: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 4px;
}