.input_container {
    height: 40px;
    width: 250px;
}

.searchBox div {
    width: 100%;
}

.searchBox .search_icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: calc(28px - (28.8px / 2));
    font-size: 1.8rem;
    color: #777;
}

@media (max-width:767px) {
    .input_container {
        width: 100%;
    }

    .layout_container {
        flex-direction: column;
        align-items: center;
    }

    .layout_container>div {
        margin-bottom: 20px;
    }

    .layout_container .input_container {
        width: 80vw;
    }

    .searchBox {
        width: 100%;
    }
}