.nav {
    font-size: 0.7rem;
    height: 53px;
}

.nav>div {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.nav>div>.nav_content {
    overflow-x: scroll;
}

.nav>div>.nav_content::-webkit-scrollbar {
    display: none;
}

@media (max-width:767px) {
    .nav>div>.nav_content {
        padding-left: 8px;
    }

    .nav>div .darkMode_container {
        padding-right: 8px;
    }
}

.nav>div .darkMode_container>label {
    margin: 0;
}

.nav>div .darkMode_container>label>span {
    margin: 0;
}