.footer {
    display: flex;
    align-items: center;
    padding: 40px 25px;
}

.footer>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media (max-width:767px) {
    .footer>div {
        font-size: 0.9rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer>div div:first-child {
        margin-bottom: 12px;
    }
}

.footer>div div a {
    margin-left: 3px;
}

.footer>div div a span {
    margin-left: 3px;
    margin-top: 2px;
    font-size: 0.8rem;
}