#detail-chart,
#charts {
    touch-action: auto !important;
    overflow: auto !important;
}

#charts_tooltip_path,
#detail-chart_tooltip_path {
    filter: none !important;
    -webkit-filter: none !important;
}